<html>
    <head>
        <title>Bienvenido a AHORCADO MUSICAL</title>
    </head>
    
    <body>


     <form action="validarLetraIngresada" method="POST">
        <H1>ingrese letra</H1>
        <input type="text" name="LetraBuscar" value="LetraBuscar"></input>
        <input type="submit" name="botonValidar" value="botonValidar"></input>
        <h1><%=	session["ahorcadoMusical"].adivinacion %></h1>
     </form>
    <img src=<%=	session["ahorcadoMusical"].imagenActual %> alt="">

    
    </body>
</html>