<html>
    <head>
        <title>Bienvenido a AHORCADO MUSICAL</title>
    </head>
    
    <body>
<<<<<<< HEAD
    <h1>"________"</h1>

    
    <input type="text" name="LetraBuscar"></input>

<input type="label" name="palabraAdivinar">

=======
    
    <h1><%=	session["ahorcadoMusical"].adivinacion %></h1>
>>>>>>> acac7b6ae55c02f1bd5ea02a39b291a55e444e38
    </body>
</html>