<html>
    <head>
        <title>Bienvenido a AHORCADO MUSICAL</title>
    </head>
    
    <body>

    <input type="text" name="LetraBuscar"></input>
    <input type="label" name="palabraAdivinar">
    <h1><%=	session["ahorcadoMusical"].adivinacion %></h1>
    
    
    <img src=<%=	session["ahorcadoMusical"].imagenActual %> alt="">
    
    </body>
</html>