<html>
    <head>
        <title>Bienvenido a AHORCADO MUSICAL</title>
    </head>
    
    <body>
    <h1>"________"</h1>

    
    <input type="text" name="LetraBuscar"></input>

<input type="label" name="palabraAdivinar">

    </body>
</html>